[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:ajordens/prezto.git
